body {
    margin: 0;
    font-family: Arial, sans-serif;
}











.main_title{

    color: white;
    text-align: center;
    }


/*estilos en mobile*/



    @media (max-width: 641px) {
       

        header{
            background-color: teal;
            height: 100px;
            padding: 10px;
            text-align: center;
        
        }
    
        .contenedor_header1 {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    
        .container {
            margin: 0 10px; /* Ajusta el margen para dispositivos móviles */
            margin-top: 50px;
            display: grid;
            grid-auto-flow: row;
            row-gap: 30px;
        }
    
        .item {
            background-color: lightblue;
            padding: 10px;
            margin: 10px;
            border: 1px solid #ccc;
            height: auto; /* Deja que la altura se ajuste automáticamente */
            min-width: 100px; /* Asegura un ancho mínimo */
            text-align: center;
        }
    
        .imagen {
            display: block;
            height: auto; /* Permite que la altura se ajuste automáticamente */
            width: 100%; /* Ajusta el ancho al 100% del contenedor */
            max-width: 100%; /* Asegura que la imagen no sobrepase el contenedor */
            margin-bottom: 10px;
        }
    
        .parrafo_inicial {
            margin-top: 10px; /* Ajusta el margen para que el texto se vea mejor */
        }

        
    }


 /*estilos en Desktop*/
 
 @media (min-width: 642px) {

    header{
        background-color: teal;
        height: 150px;
        padding: 10px;
        text-align: center;
    
    }

    .main_title{

        color: white;
        text-align: center;
        }

    

    .container {
        display: flex; 
        justify-content: space-between;
        gap: 10px; 
        margin: 0 25px;
        margin-top: 25px;
    
    }  

    .item {

        display: block;
        background-color: lightblue;
        padding: 35px;
        margin: 1px;
        border: 1px solid #ccc;
        height: 224px;
        min-width: 180px; /* Ancho mínimo para cada contenedor */
        text-align: center; 
        margin-bottom: 20px;

        }

        .contenedor_header1{
            display: flex;
            align-items: center; /* Centra verticalmente */
            justify-content: center; /* Centra horizontalmente (opcional) */
           
            
         }     

     .logo_inicial{
        margin-left: 290px;
     }   

     .imagen{
        display: block;
        height: 240px;
        width: 180px;
        margin-bottom: 10px;
     }

     .parrafo_inicial{
       
        margin-top: 40px;

     }

    }