header{
    background-color: teal;
    height: 100px;
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center;     /* Centra el contenido verticalmente (opcional) */
    height: 60px; 
    color:white;        
     
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%

}

/*estilos en mobile*/
 
@media (max-width: 641px) {
  
   .contenedor{


       width: 80%;
       margin-top: 40px;
      
       align-items: center;
       display: flex;
       flex-wrap: wrap;
       position: absolute;
       padding: 10px;
       margin-left: 120px;
   } 

   .elemento{
    height: 80px;
    width: 90px;
    padding: 60px;
    border: 2px solid #3498db;
    align-items: center;
    margin: 10px 0; 

   }
}

/*estilos en Desktop*/
 
@media (min-width: 642px) {


    .contenedor{

    margin-top: -50px;    
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;     /* Centra verticalmente */
    height: 100vh;           /* Ocupa toda la altura de la vista */
    }


    .elemento{
        height: 80px;
        width: 90px;
        padding: 60px;
        border: 2px solid #3498db;
        align-items: center;
        margin: 0 20px; 
    }    
  
}
